@media all and (max-width: 820px) {
  section.module h2 {
    font-size: 32px;
  }
  .module h2, p{
    padding: 0 8px;
  }

  .container{
    margin:0;
    padding:0;
  }

  section.module.parallax h1 {
    font-size: 36px;
  }

  .image{
    width: 25rem;
    height: 250px;
    
  }
  .container-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 250px;
    padding-left: 10px;
  }
}

